@import "./norm.css";
/*
@font-face {
  font-family: 'Silk Serif Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Silk Serif Medium'), url('./silk-serif-cufonfonts-webfont/Silk Serif Medium.woff') format('woff');
}
@font-face {
  font-family: 'Silk Serif Medium Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Silk Serif Medium Italic'), url('./silk-serif-cufonfonts-webfont/Silk Serif Medium Italic.woff') format('woff');
}
@font-face {
  font-family: 'Silk Serif SemiBold';
  font-style: normal;
  font-weight: normal;
  src: local('Silk Serif SemiBold'), url('./silk-serif-cufonfonts-webfont/Silk Serif SemiBold.woff') format('woff');
}*/

:root {
  --toolsize: 5rem;
  --headsize: 2rem;
  --midsize: 1.5rem;
  --smallsize: .75rem;
  
  --gutter: 1rem;
  --gutter-: -1rem;
  --gutter2: 2rem;
  --gutter2-: -2rem;
  --gutterx: calc(var(--gutter) / 2);
  --gutterx-: calc(var(--gutter) / -2);
  --guttery: calc(var(--gutter) / 4);
  --gutterz: calc(var(--gutter) / 8);
  --spacer: calc(4 * var(--gutter));

  --figurewidth: 80ch;

  --darkgray: hsl(207, 0%, 7%);
  --midtone: hsl(207, 0%, 14%);
  --light: #e2e8f0;
  --lighter: #f9fafb;
  --grad: hsl(207deg 50% 66%);
  /*--shadow: hsla(207, 0%, 14%, 0.7);*/
  --shadow: hsla(207, 0%, 7%, 0.75);
  --bg: #1f46670a;
}

*,
::before,
::after {
  border-color: var(--light);
}

:root {
  /*font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;*/
  font-family: sans-serif;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
  /*font-size: clamp(1rem, 1rem + 1.0309vw + var(--user-font-scale), 1.125rem);*/
}
html {
  /*background-color: var(--darkgray);*/
  /*background:  var(--darkgray) radial-gradient(circle at top, var(--midtone) 0%, var(--darkgray) 50%, var(--shadow) 120%);*/
  background:  var(--darkgray) radial-gradient(circle at top, var(--bg) 0%, var(--darkgray) 50%, var(--shadow) 120%);
  background-attachment: fixed;
  /*filter: hue-rotate(5deg) contrast(1.1);*/
}
body {
  min-height: 100vh;
  margin-inline: auto;
  color: var(--light);
  /*filter: hue-rotate(5deg) contrast(1.1);*/
  padding-bottom: 1.5rem;

}

/*@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}*/

main {
  width: min(100%, 112ch);
}
section {
  width: 100%;
}
main, section {
  margin-inline: auto;
  line-height: 1.65;
  display: flex;
  /*gap: 1.5rem;*/
  gap: 4ch;
  /*flex-wrap: wrap;*/
  flex-direction: column;
  /*align-items: center;*/
  padding: 0 var(--gutterx) var(--spacer);
}

html nav {
  position: sticky;
  top: -3.75rem;
}
nav > ul > li {
  padding-top: 1rem;
}
@media screen and (min-height: 640px) {
  html nav {
    position: fixed;
    top: 0;
  }
  nav > ul > li {
    padding-top: 0;
  }
  main {
    margin-top: 7rem;
  }
}

nav + main > :first-child {
  padding-top: 12rem;
}
nav > ul > li > a, nav > ul > li >span {
  font-weight: bold;
}

article {
  width: min(100%, 80ch);
  /*line-height: 1.65;*/
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  margin-inline: auto;
  /*margin-bottom: 5rem;*/
  padding-inline: var(--gutter);
}
/*article > :first-child {
  padding-top: var(--spacer);
}*/
article > div:first-child > p:first-child::first-letter/*, article > span */{
  /*color: blue;*/
  font-size: 2em;
  /*font-weight: 100;*/
  vertical-align: bottom;
  vertical-align: baseline;
  line-height: .875em;
  font-family: "Alegreya SC", serif;
  text-rendering: geometricPrecision;
  text-shadow: 0 0 1px var(--midtone);
}
article > :last-child {
  padding-bottom: var(--gutter);
  margin-inline: auto;
}
article a {
  text-decoration: none;
  border-bottom: 2px dotted;
}
article a:hover {
  border-bottom: 2px solid;
}
svg {
  fill: inherit;
  stroke: inherit;
  margin: 0 auto;
  max-width: 100%;
}
svg text {
  margin: 0 auto;
}

figure {
  margin: 1rem 0 var(--gutter2);
}

header p {
  font-family: 'Alegreya SC';
  text-shadow: 0 0 1px var(--midtone, #1f4667);
}

header {
  text-align: center;
  font-size: 1.2rem;
  /*line-height: 2em;*/
  /*font-weight: bolder;*/
}

header, blockquote {
  font-family: "Alegreya SC", serif;
  text-rendering: geometricPrecision;
  text-shadow: 0 0 1px var(--light);
  color: var(--lighter);
}

blockquote {
  font-size: 1.25rem;
  text-align: start;
  margin-inline: auto;
  width: fit-content;
  /*border-bottom: 2px solid;*/
}

article em, article i {
  font-family: "Alegreya SC", serif;
  text-rendering: geometricPrecision;
  text-shadow: 0 0 1px var(--midtone, #1f4667);
  font-size: 1.15rem;
  line-height: 1.15em;
  /*font-weight: bolder;*/
}

/*article b, article strong {
  font-family: 'Silk Serif Regular';
  text-rendering: geometricPrecision;
  font-size: 1.05rem;
  line-height: 1.15em;
  font-weight: bolder;
}*/

h1, h2, h3, h4, h5, h6 {
  font-family: 'Alegreya SC', serif;
  text-rendering: geometricPrecision;
  color: var(--lighter);
}
section h1, section h2, section h3, section h4, section h5, section h6, section * {
  /*line-height: 1.25em;*/
  color: var(--midtone);
  text-shadow: 0 0 1px var(--shadow);
}
h1, h2, h3 {
  /*font-size: 1.25em;*/
  text-align: center;
}
h2, h3 {
  text-rendering: geometricPrecision;
}

/*h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}*/

figcaption {
  font-size: 96%;
  word-wrap: break-word;
  text-align: center;
}
figcaption a {
  font-style: Medium Italic;
}

p, ul, ol, dl {
  margin: 0.67em 0;
}
ol > li {
  margin: 0.67em 0;
}

/*p a {
  text-decoration: revert;
}*/

dd p {
  margin-top: 0;
}

span {
  display: inline;
}

/* Mozaik */
@media screen and (orientation: landscape), screen and (min-width: 65ch) {
  section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));
    grid-auto-flow: dense;
  }
}
section {
  /*position: relative;*/
  color: var(--darkgray);
  /*z-index: -1;*/
}
section > a, section > div {
  margin-inline: auto;
  max-width: max(85%,29ch);
  padding: 0 1vw;
  box-sizing: content-box;
  transition: all .25s;
  /*position: relative;*/
  display: block;
  border-radius: 0.35rem;
  background-color: aliceblue;
  box-shadow: var(--shadow) 0 0 .5rem;
}
.double {
  grid-column-end: span 2;
  /*grid-row-end: span 2;*/
}
section > a:hover, section > div:hover {
  transform: scale(1.025);
  box-shadow: var(--shadow) 0 0 1rem;
}

/* Mobile nav */
