---
import Debug from 'astro/debug'

const { pages, lang } = Astro.props;
/*let home
home = home || pages?.shift() || {}*/
//const p = pages.slice()
const p = pages?.slice().filter(item => item.index >= 0) || []
//console.log({p})
const home = p?.shift() || {}
//console.log(lang, p[2])
---
<nav>
    <a href={`/${home.slug[lang]?.current == 'hu' ? '' : home.slug[lang]?.current}`}>
      <img src="/assets/csh_white_notxt.svg" alt=""/>
    </a>
    <a href={`/${home.slug[lang]?.current == 'hu' ? '' : home.slug[lang]?.current}`}>
      <h1>{(home.menutitle && home.menutitle[lang]) || (home.title && home.title[lang]) || home.category[lang] || '?!? '}</h1>
    </a>
    <!--<div>HU | EN</div>-->
    {p?.length && <ul>
        {p.map(item => (
        <li>
        {item.link ? <a href={`/${item.slug[lang].current}`}>{item.menutitle && (item.menutitle[lang]) || (item.title && item.title[lang]) || item.name[lang] || '?!?'}</a> : <span tabindex="0">{item.menutitle && (item.menutitle[lang]) || (item.title && item.title[lang]) || item.name[lang] || '?!?'}</span>}
          {item.dropdown && item.menu?.length && <ul>
            {item.menu.map(sub => (
            <li><a href={`/${item.slug[lang].current}/${sub.slug.current}`}>{sub.menutitle || sub.name || sub.title}</a></li>
            ))}
          </ul>}
        </li>
        ))}
        <li>
          <details>
            <summary>⚑</summary>
            <a href="/">Magyar</a>
            <a href="/en">English</a>
            <a href="/de">Deutsch</a>
          </details>
        </li>
      </ul>}
        <!--<li><a href="/">Jelentkezés</a></li>
        <li><a href="/">Előadások</a></li>-->
</nav>

<style>
  nav {
    margin-bottom: 3rem;
    line-height: 1.15;
  /*}
  nav > div {*/
    width: min(100%, 128ch);
    /*margin-inline: var(--gutter2);*/
    margin-inline: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding-block: 1rem;
    overflow: auto visible;
    /*overflow-x: auto;*/
    backdrop-filter: blur(4px);
  }
  nav a, nav span {
    display: block;
  }
  nav span {
    cursor: default;
  }
  nav > a {
    flex-grow: 0;
  }
  nav > a:first-of-type {
    padding-left: 1rem;
  }
  nav > a:last-of-type {
    /*flex-grow: 0;
    display: flex;
    align-items: center;*/
    margin-left: -1ch;
    /*padding-right: 5rem;*/
  }
  nav > a img {
    display: block;
    /*width: 4rem;*/
    width: 4.5rem;
    /*padding: 0 0 2rem;*/
    margin: -.5rem 0 .5rem;
  }
  nav h1 {
    text-align: end;
    font-weight: lighter;
    font-size: 1.5rem;
    line-height: 1.25em;
    padding: 0 1rem;
    margin: 0;
    inline-size: min-content;
    font-variant: small-caps;
    font-variant: common-ligatures small-caps; 
    font-style: italic;
  }
  /*nav h1 :global(span) {
    display: block;
  }*/
  /*div div {
    background-image: url('/assets/header_notes_wide.png');
    background-position: left center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block: -1rem;
    flex-grow: 1;
    padding-inline: 2ch;
  }    */
  ul {
    display: flex;
    list-style: none;
    padding: 0;
  }
  nav > ul {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1ch;
    height: 100%;
    align-items: center;
    margin: 0 auto;
  }
  ul ul {
    flex-direction: column;
    position: absolute;
    width: max-content;
    height: auto;
    margin: 0;
    /*background-color: var(--lighter);*/
    /*backdrop-filter: brightness(0.9);*/
    display: none;
    border-left: 3px solid;
    border-bottom: 3px solid;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    margin-left: -3px;
  }
  ul li:focus-within ul, ul li:hover ul {
    display: initial;
  }

  nav > ul > li:last-child {
    width: 4rem;
  }

  nav > ul > li {
    /*padding-inline-end: 2rem;*/
    font-size: larger;
    position: relative;
  }
  nav > ul > li:focus-within, nav > ul > li:hover {
    border-left: 3px solid;
    border-top-left-radius: 0.5rem;
    margin-left: -3px;
  }
  
  li a, li span {
    padding: .5rem 1rem;
  }

  details {
    position: absolute;
    top: -1.8em;
    right: -4.5em;
    border-left-width: 3px;
    border-top-width: 3px;
    border-radius: 0.5rem;
    margin: 1rem;
    cursor:default;
    backdrop-filter: blur(4px);
  }
  summary {
    list-style: none;
    list-style-type: none;
    font-size: xx-large;
    padding: 0 0.5rem;
  }
  summary::-webkit-details-marker {display: none; }
  details a {
    padding: .25rem .5rem;
  }

</style>